.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  padding: 1rem;
}

.logo-container {
  flex-grow: 1;
}

.logo {
  height: 50px;
  width: auto;
}

.nav {
  display: flex;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-link:hover {
  text-decoration: underline;
}
