.home-page {
    padding: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
  }
  
  .product img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .product-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-price {
    font-weight: bold;
    margin-top: auto;
  }
  